.container___1PYmd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px
}

.container___1PYmd h1,
.container___1PYmd h2 {
    width: 100%;
    text-align: center
}

.cartlink___XXQml {
    position: relative;
    z-index: 91;
    float: right
}

.modal___3A2vH {
    background-color: #fff
}

.modal___3A2vH .minicart-totals___1i1J9 {
    overflow-y: auto;
    max-height: 300px
}

.modal___3A2vH .minicart-item___2BN48 span {
    padding: 0
}

.subtotal___ne9NY {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0
}

.subtotal-label___GjvLG,
.subtotal-price___ryPUx {
    padding: 0 15px
}

.minicart-item___2BN48 .gl-loader.gl-cta__loading-spinner {
    right: 10px
}

.ys-line-item___1cRPs {
    display: flex;
    width: 100%
}

.ys-line-item__cta___3VRZL {
    flex: 1;
    width: unset;
    padding: 0
}

@media (min-width:600px) {
    .ys-line-item__cta___3VRZL {
        padding: 0 5px
    }
}

.ys-line-item__title___3R0Qd {
    flex: 4;
    padding: 0 5px
}

@media (min-width:600px) {
    .ys-line-item___1cRPs.fullcart___1pKy7 .ys-line-item__title___3R0Qd {
        padding: 0 15px
    }
}

.ys-line-item__quantity___3QnYs {
    flex: 2;
    padding: 0 5px;
    display: flex;
    justify-content: center
}

.ys-line-item__price___4UxTF {
    flex: 2;
    padding: 0 5px 0 0
}

.ys-line-item__price__end___2OdyC {
    justify-content: flex-end
}

@media (min-width:600px) {
    .ys-line-item__price___4UxTF {
        padding: 0 15px 0 0
    }
}

.ys-line-item__image-sizing-wrapper___1lq33 {
    flex: 2
}

.minicart___3cy8X .ys-line-item__image-sizing-wrapper___1lq33 {
    width: 48px;
    padding: 0 5px
}

.fullcart___1pKy7 .ys-line-item__image-sizing-wrapper___1lq33 {
    width: 48px;
    flex-shrink: 0
}

@media (min-width:600px) {
    .fullcart___1pKy7 .ys-line-item__image-sizing-wrapper___1lq33 {
        width: 112px;
        padding: 0 15px
    }
}

.ys-line-item__image-wrapper___3WFf- img {
    width: 100%
}

.gl-price__inline___-VD1g {
    display: inline
}

.discount___26XQc {
    color: #ababab;
    margin-left: 5px
}

.navigation___3100Z {
    position: fixed
}

.navigation___3100Z .navigation-bottom___3rb_3 {
    position: fixed;
    bottom: 15px
}

.navigation-items___quP0r li {
    margin-bottom: 15px
}

.footer___1_Npt {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px
}

.separator___1ZOj_ {
    padding-right: 21px
}

.header___2fE4A {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 91;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px
}

.header-item___19I2L {
    display: inline-block;
    line-height: 50px;
    z-index: 91
}

.header-item__right___1TF3M {
    float: right
}

.layout-overlay___3MxYq {
    z-index: 89;
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 70px 20px 20px;
    bottom: 0
}

.header-margin___1jFHm {
    margin-top: 50px
}

@media (min-width:960px) {
    .header-margin___1jFHm {
        margin-top: 0
    }
}

.container___3PPPZ {
    position: relative
}

.container___3PPPZ .main___2aRHM {
    min-height: 100vh
}

.desktop-container___1UV4E {
    padding: 0;
    margin-left: 170px
}

.footer___1Hsf2 {
    position: absolute;
    bottom: 0;
    right: 0
}

.sidebar___POIEI {
    position: fixed;
    top: 0;
    width: 170px;
    padding: 20px
}

.navigation-menu-trigger___1TiqR {
    padding: 20px 20px 20px 0;
    line-height: .39
}

.minicart-link___12Tm8 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 91;
    padding-right: 20px
}

.minicart-link-desktop___36sXW {
    padding: 20px
}

.minicart-modal___2Q8-_ {
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    width: 100vw
}

@media (min-width:960px) {
    .minicart-modal___2Q8-_ {
        width: 410px
    }
}

.header-padding___yDQay {
    padding: 40px 20px 20px
}

.bottom-navigation___1cNMi {
    padding: 20px
}

.bottom-navigation___1cNMi.sticky___1LA9i {
    position: fixed;
    bottom: 20px
}

.glass-modal___1JNyq {
    z-index: 82
}

.cookie-consent-overlay___C2VMp {
    cursor: default
}

.error-callout___2XNPQ {
    margin: 0 0 20px
}

.container___2JOKp {
    display: flex;
    max-height: calc(80vh - 63px);
    flex-direction: column;
    align-items: stretch
}

.content___32qnc {
    flex-grow: 1;
    overflow-y: auto
}

.footer___3thm- {
    margin-top: 20px;
    flex-shrink: 0
}

.cookie-consent-modal___2q8H1 {
    z-index: 10002
}

@media (min-width:600px) {
    .ccpa-content___1X2BH {
        min-height: 180px
    }
}

.gl-box__content {
    padding-left: 15px
}

#app {
    min-height: 100%
}

.gl-divider {
    display: none
}