.container___yd5aq {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px 30px
}

.label___pe_bN {
    margin-bottom: 10px
}

.checkout_page___2Rq6- {
    max-width: 1175px;
    display: flex;
    padding: 40px 20px;
    margin: 0 auto
}

.checkout_page___2Rq6-.shouldCenterAlign___3VgOs>.row {
    justify-content: center;
    align-items: center
}

.checkout_page___2Rq6-.loading___37uJz,
.checkout_page___2Rq6-.shouldCenterAlign___3VgOs {
    min-height: 100vh
}

.checkout_page___2Rq6-.fullHeader___1KZwU {
    margin-top: 0;
    padding-top: 130px
}

@media (min-width:960px) {
    .checkout_page___2Rq6-.fullHeader___1KZwU {
        padding-top: 140px
    }
}

.checkout_page___2Rq6-.fullHeaderWithStepper___ZZwOR {
    margin-top: 0;
    padding-top: 100px
}

@media (min-width:960px) {
    .checkout_page___2Rq6-.fullHeaderWithStepper___ZZwOR {
        padding-top: 120px
    }
}

.checkout_page___2Rq6-.loading___37uJz {
    pointer-events: none;
    max-width: unset
}

@media (min-width:1280px) {
    .checkout_page___2Rq6- {
        max-width: 1280px
    }
}

@media (min-width:1600px) {
    .checkout_page___2Rq6- {
        max-width: 1600px
    }
}

.checkout_page___eVXBX {
    max-width: 1175px;
    display: flex;
    padding: 40px 20px;
    margin: 0 auto
}

.checkout_page___eVXBX.shouldCenterAlign___1bGYU>.row {
    justify-content: center;
    align-items: center
}

.checkout_page___eVXBX.loading___1sXRq,
.checkout_page___eVXBX.shouldCenterAlign___1bGYU {
    min-height: 100vh
}

.checkout_page___eVXBX.fullHeader___dyjB9 {
    margin-top: 0;
    padding-top: 130px
}

@media (min-width:960px) {
    .checkout_page___eVXBX.fullHeader___dyjB9 {
        padding-top: 140px
    }
}

.checkout_page___eVXBX.fullHeaderWithStepper___1XZUK {
    margin-top: 0;
    padding-top: 100px
}

@media (min-width:960px) {
    .checkout_page___eVXBX.fullHeaderWithStepper___1XZUK {
        padding-top: 120px
    }
}

.checkout_page___eVXBX.loading___1sXRq {
    pointer-events: none;
    max-width: unset
}

@media (min-width:1280px) {
    .checkout_page___eVXBX {
        max-width: 1280px
    }
}

@media (min-width:1600px) {
    .checkout_page___eVXBX {
        max-width: 1600px
    }
}

.cart-empty-page___dCB1y {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    width: 100%
}

@media (min-width:960px) {
    .cart-empty-page___dCB1y {
        height: inherit;
        width: unset
    }
}

.cart-empty-page__header___3a2Cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

@media (min-width:960px) {
    .cart-empty-page__header___3a2Cc {
        height: inherit
    }
}

.cart-empty-page__cta___15hPW {
    display: flex;
    justify-content: center
}

.enter___3zGR9 {
    transition: all .45s ease-in;
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden
}

.enter--active___5CcA7 {
    max-height: 300px;
    margin-bottom: 20px
}

.checkout_page___3KdB2 {
    max-width: 1175px;
    display: flex;
    padding: 40px 20px;
    margin: 0 auto
}

.checkout_page___3KdB2.shouldCenterAlign___21lHH>.row {
    justify-content: center;
    align-items: center
}

.checkout_page___3KdB2.loading___1HzPn,
.checkout_page___3KdB2.shouldCenterAlign___21lHH {
    min-height: 100vh
}

.checkout_page___3KdB2.fullHeader___vCtWN {
    margin-top: 0;
    padding-top: 130px
}

@media (min-width:960px) {
    .checkout_page___3KdB2.fullHeader___vCtWN {
        padding-top: 140px
    }
}

.checkout_page___3KdB2.fullHeaderWithStepper___19KAb {
    margin-top: 0;
    padding-top: 100px
}

@media (min-width:960px) {
    .checkout_page___3KdB2.fullHeaderWithStepper___19KAb {
        padding-top: 120px
    }
}

.checkout_page___3KdB2.loading___1HzPn {
    pointer-events: none;
    max-width: unset
}

@media (min-width:1280px) {
    .checkout_page___3KdB2 {
        max-width: 1280px
    }
}

@media (min-width:1600px) {
    .checkout_page___3KdB2 {
        max-width: 1600px
    }
}

.cart-page___s8517 {
    flex-direction: column;
    min-height: calc(100% - 80px)
}

@media (min-width:960px) {
    .cart-page___s8517 {
        padding-top: 25px
    }
}

.cart-page___s8517>div {
    flex-shrink: 0
}

.cart-page___s8517>div:first-child {
    flex-grow: 1
}

@media (min-width:960px) {
    .cart-page___s8517>div:first-child {
        flex-grow: 0
    }
}

.cart-page___s8517>div:not(:first-child) {
    justify-content: flex-end
}

.cart-page__actions___2zCrH {
    display: flex
}

.cart-page__actions--aside___21Nqp {
    display: flex;
    flex-direction: column
}

@media (min-width:600px) {
    .cart-page__actions--aside___21Nqp {
        flex-direction: row
    }
}

@media (min-width:960px) {
    .cart-page__actions--aside___21Nqp {
        flex-direction: column
    }
}

@media (min-width:960px) {
    .cart-page__actions--aside-loading___2Uc7j {
        min-height: 122px
    }
}

.cart-page__summary___2cli- {
    display: flex;
    flex-direction: column
}

.chk-stepper___1Hyc4 {
    flex: 1;
    margin-bottom: 30px
}

@media (min-width:960px) {
    .chk-stepper___1Hyc4 {
        margin-bottom: 20px
    }
}

.cart-item-group__header___1qhRj {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab
}

.cart-item-group__header--first___2Bglx {
    border-top: none;
    padding-top: 0
}

.cart-item-group__header__number___2Esju {
    text-transform: uppercase
}

.cart-item-group___2nJ7y>div {
    width: 100%
}

.item___3Kyg_ {
    transition: all .45s cubic-bezier(.3, 0, 1, 1);
    max-height: 500px;
    opacity: 1
}

.enter___2bzO4,
.exit___1wnOs {
    max-height: 0;
    padding: 0;
    opacity: 0;
    margin-top: 0
}

.exit___1wnOs {
    opacity: .2;
    overflow: hidden
}

.panel___uhonh {
    position: relative
}

.loading___2dEoY {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .7)
}

.order-summary___rGKBg hr.gl-divider {
    margin: 0 0 10px
}

.order-summary-section___2wNIe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px
}

.order-summary-label___WhyV1 {
    text-transform: uppercase
}

.order-summary-quantity___3Rk1o {
    padding: 5px 0
}

.order-summary-total___j_6Pr {
    display: flex;
    justify-content: space-between
}

.order-summary-total___j_6Pr>* {
    margin-bottom: 0
}

.order-summary-delivery___2tqxn,
.order-summary-discount___2tu4A {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.shipping_threshold_message___18MxF {
    margin-bottom: 20px;
    margin-top: -4px
}

.checkout-actions__button-wrapper___cUBs- {
    flex: 1
}

@media (min-width:960px) {
    .checkout-actions__button-wrapper___cUBs-.single-cta___3sPxP {
        flex: none;
        width: 50%
    }
}

.checkout-actions__or-separator___1-AjJ {
    margin: 0 10px;
    line-height: 50px;
    text-align: center
}

.apple-pay-wpwl___1Rl29 {
    background: #fff url(/glass/react/abbb6b3/assets/img/icon-adidas-apple-pay.svg) no-repeat 20px;
    background-size: 48px;
    border: 1px solid #000;
    position: relative;
    height: 50px;
    width: 100%
}

.apple-pay-wpwl___1Rl29 .wpwl-container {
    height: 48px !important;
    width: 100% !important;
    opacity: 1 !important;
    background: #fff
}

.apple-pay-wpwl___1Rl29 .wpwl-apple-pay-button {
    height: 48px;
    width: 100%;
    opacity: 0
}

.apple-pay-wpwl___1Rl29 .wpwl-container:before {
    background: #fff url(/glass/react/abbb6b3/assets/img/icon-adidas-apple-pay.svg) no-repeat 20px;
    background-size: 48px;
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%
}

.apple-pay-wpwl___1Rl29:hover .wpwl-container:before {
    opacity: .6
}

.apple-pay-wpwl__arrow-icon___1eT2I,
.apple-pay-wpwl__loader___2balt {
    position: absolute;
    top: 13px;
    right: 23px
}

.apple-pay-wpwl__loader___2balt {
    height: 25px;
    width: 25px;
    border-width: 2px
}

.apple-pay-box___Xitnf {
    background-color: #f5f5f5;
    border: 1px solid #ababab
}

.apple-pay-box--loading___1dmEi,
.apple-pay-box--loading___1dmEi * {
    cursor: progress
}

.apple-pay-box--closed___1qJXj {
    background: #000;
    color: #fff
}

.apple-pay-box__close-button___1CPxK {
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid #ababab;
    background-color: #f5f5f5;
    font-weight: 700;
    cursor: pointer
}

.apple-pay-box__total___2pDWR {
    font-weight: 700
}

.apple-pay-box__line-item___grK7z:first-of-type {
    margin-top: 10px
}

.apple-pay-box__line-item__label___3wp3_ {
    font-weight: 700
}

.validation-errors___3bsH_ {
    color: #bd0303
}

.js-errors___1H9uM {
    background-color: #bd0303;
    color: #fff
}