.card-icons___2hevb {
    display: flex
}

.card-thumbnail___3L2DW {
    margin-right: 8px;
    height: 25px
}

.card-thumbnail___3L2DW:last-child {
    margin-right: 0
}

@media (min-width:960px) {
    .card-thumbnail___3L2DW {
        width: 39px
    }
}

.security-code-tooltip___3NpP- {
    display: block;
    margin-left: 0;
    position: absolute;
    right: 8px
}

.cvv-icon___2on9U {
    margin-top: 6px;
    height: 75px;
    width: 100%
}

.cvv-icon___2on9U.front___i9IJd {
    margin-top: 16px
}

.adl-tooltip-z-index___2IJ3p {
    z-index: 60
}

.wpwl-container-virtualAccount-AFFIRM {
    display: none !important
}

.wpwl-form-card {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px
}

.wpwl-group {
    display: flex;
    align-items: flex-start;
    min-height: 75px;
    margin-bottom: 20px
}

.wpwl-group-brand,
.wpwl-group-submit {
    display: none;
    order: -1
}

.wpwl-group-cardNumber {
    order: 0;
    display: flex;
    flex: 0 1 100%;
    margin-bottom: 10px
}

@media (min-width:600px) {
    .wpwl-group-cardNumber {
        flex: 0 1 50%;
        margin-bottom: 20px
    }
}

.wpwl-group-cardHolder {
    order: 2
}

@media (min-width:600px) {
    .wpwl-group-cardHolder {
        flex: 0 1 50%;
        margin-right: 50%
    }
}

.wpwl-group-expiry {
    order: 3
}

@media (min-width:600px) {
    .wpwl-group-expiry {
        flex: 0 1 23%;
        margin-bottom: 0
    }
}

.wpwl-group-cvv {
    order: 4;
    flex: 0 1 50%;
    margin-bottom: 0
}

@media (min-width:600px) {
    .wpwl-group-cvv {
        flex: 0 1 23%;
        margin-left: 4%
    }
}

.wpwl-wrapper-cardHolder,
.wpwl-wrapper-cardNumber,
.wpwl-wrapper-cvv,
.wpwl-wrapper-expiry {
    flex: 0 1 100%
}

.wpwl-label {
    width: auto;
    z-index: 1;
    padding-top: 0;
    display: flex;
    align-self: flex-start
}

.wpwl-label:after {
    content: "*";
    padding-left: 2px;
    color: #bd0303
}

.wpwl-hint {
    min-height: 20px;
    display: block;
    color: #ababab;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    color: #bd0303
}

.wpwl-control {
    display: flex;
    padding-top: 0;
    padding-bottom: 0
}

.wpwl-control::-webkit-input-placeholder {
    color: transparent
}

.wpwl-control:-ms-input-placeholder {
    color: transparent
}

.wpwl-control::-ms-input-placeholder {
    color: transparent
}

.wpwl-control::placeholder {
    color: transparent
}

.wpwl-control:focus {
    border-color: inherit
}

@media (min-width:600px) {
    .wpwl-control {
        flex: 0 1 50%
    }
}

.field-hint___2_Bo6,
.field-icon___3Srad {
    display: block
}

.group-card-icons___23Fae {
    order: 1;
    display: flex;
    flex: 0 1 100%;
    margin-bottom: 40px
}

@media (min-width:600px) {
    .group-card-icons___23Fae {
        margin-top: 12px;
        margin-left: 4%;
        margin-bottom: 0;
        flex: 0 1 25%
    }
}

.group-security-tooltip___30R_1 {
    order: 5;
    display: flex;
    margin-top: 12px;
    margin-left: 4%
}

.gl-input__label--hoisted {
    background-color: transparent;
    color: #ababab;
    font-size: 12px;
    left: 14px;
    line-height: 14px;
    padding: 0;
    top: -1px
}

.gl-input__label--hoisted:not(.gl-input__label--centered) {
    top: 7px
}

.gl-input__label--hoisted.gl-input__label--centered {
    left: 50%
}

.form___21EqM {
    width: 100%;
    margin: 0
}

.inlineItems___5-Bw1 {
    display: inline-flex
}

.credit_card_container___adNNH {
    display: block;
    width: calc(100% + 15px);
    margin-left: -15px
}

@media (min-width:600px) {
    .card-number___1zhwm {
        flex: 1
    }
}

.card-icons-col___2sH0X {
    margin-top: 10px;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    min-height: 25px;
    margin-bottom: 0
}

@media (min-width:600px) {
    .card-icons-col___2sH0X {
        min-height: 40px;
        margin-top: 12.5px;
        margin-bottom: 0;
        order: 0;
        justify-content: flex-end;
        flex: 0 1 0
    }
}

.three-ds-info___1Sr1V {
    margin-bottom: 12px
}

.security-code-col____shLg {
    margin-top: 0
}

@media (min-width:600px) {
    .security-code-col____shLg {
        margin-top: 0
    }
}

.security-code-tooltip-col___373x4 {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-top: 0;
    margin-left: -32px
}

@media (min-width:600px) {
    .security-code-tooltip-col___373x4 {
        margin-top: 0
    }
}

.security-code-tip-icon___2bTdi {
    display: block;
    margin-left: 15px
}

.security-code-tip-icon--hide___3jUQB {
    visibility: hidden
}

.no-right-gutter___1shPs,
.no-right-gutter___1shPs>div[class^=col] {
    padding-right: 0
}

.expiry-autofill-hidden-input___3zek_ {
    display: none
}

.field--is-hidden___1nKfc {
    position: absolute;
    left: -9999px
}

.field___Jw7ur input::-ms-clear {
    width: 0;
    height: 0
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
    input[type=text]::-ms-clear {
        display: none
    }
}

.gl-form-item--atp-2049-asterisk-hidden .gl-form-asterisk {
    display: none
}

.gl-form-item--atp-2049-asterisk-black .gl-form-asterisk {
    color: #000
}

.aci-form-container___13zUS {
    position: relative;
    margin-right: 15px
}

@media (min-width:600px) {
    .aci-form-container___13zUS {
        margin-right: 0
    }
}

.payment-method-checkbox___3YDzw .gl-checkbox__label {
    font-weight: 700
}

.description___3sm4W {
    display: block
}

.description-enter___2rt7l {
    opacity: 0;
    max-height: 0;
    overflow: hidden
}

.description-enter-active___-mfH_ {
    opacity: .1;
    max-height: 0;
    overflow: hidden
}

.description-enter-done___1ogo5 {
    max-height: 1500px;
    opacity: 1;
    transition: all .2s ease-in
}

.description-exit___11A2S {
    opacity: 1;
    max-height: 1500px;
    overflow: hidden
}

.description-exit-active___3a9ir {
    opacity: .1;
    max-height: 0;
    transition: all .2s ease-out;
    overflow: hidden
}

.description-exit-done___34cv7 {
    opacity: 0;
    max-height: 0;
    overflow: hidden
}

.loading___184a9 {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh
}

@media (min-width:960px) {
    .loading___184a9 {
        height: 100vh
    }
}

.gift-card-list-item___3Td0F {
    background-color: #f5f5f5;
    padding: 20px 15px
}

.gift-card-modal__button___tACSM {
    display: block
}

.no-left-gutter___udR36,
.no-left-gutter___udR36>div[class^=col] {
    padding-left: 0
}

.no-right-gutter___2h-wm,
.no-right-gutter___2h-wm>div[class^=col] {
    padding-right: 0
}

@media (min-width:600px) {
    .no-right-gutter-s___1AUgP {
        padding-right: 15px
    }
}

.apply-gift-card-button___RVPEr {
    transform: none
}

.clear-vspacing___2TND_ {
    margin-bottom: 0
}